.row.row-space-3
  %h2 Mission
  .item
    E-Tower is a competitive specialized living community at Babson College for 21 ambitious student entrepreneurs with the sole purpose being to inspire, motivate, mentor, and support each other in growing scalable businesses.

.row.row-space-3
  %h2 Description
  .item
    We are best known for our high-energy and passionate atmosphere. You can find our members up as late as 4am on school nights, collaborating on their startups and discussing entrepreneurship. Members are always open to discussing new business ideas and giving advice to other startups. Those who “drop in” to our meetings, or just come by to visit, can often be found crashing on our couches after an experience that they describe as “too good to leave”.

.row.row-space-3
  %h2 General Info
  .item
    E-Tower is located at Babson College, the highest ranked and most prestigious institution for entrepreneurship in the world. E-tower was founded in 2001 by Andrew Foley, the creator of IdeaPaint, to bring together the best young entrepreneurs to one living space at Babson College.

.photos
  .cover-item
    = image_tag('pic1.jpg', class: 'cover', alt: 'E-Tower 2012 Group Photo')
  .cover-item
    = image_tag('pic2.jpg', class: 'cover', alt: 'E-Tower 20XX Group Photo')
  .cover-item
    = image_tag('pic3.jpg', class: 'cover', alt: 'Our most successful member of all time')
  .cover-item
    = image_tag('pic4.jpg', class: 'cover', alt: 'E-Tower outing')
  .cover-item
    = image_tag('pic5.jpg', class: 'cover', alt: 'Rocket Pitch in the tower')