%h2 Sitemap

= link_to 'Index', root_path
= link_to 'About', about_path
= link_to 'Members', members_path
= link_to 'Alumni', alumni_path
= link_to 'Contact', contact_path
= link_to 'Andy Huang', andyhuang_path