!!!
%html
  %head
    %title E-Tower
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %script{src:"//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  = render('layouts/header')
  %body
    .container
      = yield
